@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Montserrat:wght@100;200;300;400&family=Poppins:wght@500&display=swap');

body{
    font-family: Montserrat, sans-serif;
    background-image: url(/ProjetoReceitas/imagens/fundo\ branco.jpg);
}

header{
    background: #f1b452;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-principal{
    width: 270px;
}

a{
    text-decoration: none;
    color: #426CB4;
}

.receitas{
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 25px;
    margin-bottom: 25px;
}

.box{
    text-align: center;
    height: 300px;
    border: 3px solid #426CB4;
    border-radius: 10px;
    padding: 20px 5px 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
}

.box:hover{
    border-color: #FF9F00;
}

.box:active{
    border-color: #7BB062;
}

.receitas h2{
    font-size: 30px;
    font-weight: bold;
}

.receitas-descriçao{
    font-size: 18px;
    font-weight: 550;
}

.imagem-fruta{
    width: 150px;
    transition: all .45s ease;
}

.imagem-fruta:hover{
    width: 165px;
}

.img-footer{
    width: 40px;
    height: 40px;
}

footer{
    background: #6583b8;
    font-weight: bold;
    color: #FF9F00;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.div-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 300px) and (max-width: 520px){
    .logo-principal{
        width: 190px;
        height: 100px;
    }

    
}