@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Montserrat:wght@100;200;300;400&family=Poppins:wght@500&display=swap');

body{
    font-family: Montserrat, sans-serif;
    background: url(fundo\ branco.jpg)
}

header{
    background: #f1b452;
}

.logo-principal{
    width: 270px;
}

#logo{
    display: flex;
    justify-content: center;
}

.botao-div{
    margin-bottom: 10px;
    display: inline;
}

.botao{
    text-decoration: none;
    color: #426CB4;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 12px;
    padding: 10px;
}

.botao:hover{
    color: #41911c;
}

.botao:active{
    color: #426CB4;
}

main{
    height: 450px;
    vertical-align: top;
    justify-content: center;
    margin: 0 20px 0 20px;
    align-self: auto;
}

.titulo-principal{
    font-size: 30px;
    color: #426CB4;
    font-weight: bold;
    margin-bottom: 20px;
}

.titulo-principal{
    font-size: 30px;
    color: #426CB4;
    font-weight: bold;
    margin-bottom: 20px;
}

.ingredientes{
    width: 25%;
    padding: 60px 0 0 50px;
    float: left;
    display: inline;
}

.preparo{
    width: 30%;
    margin-top: 30px;
    vertical-align: top;
    float: left;
    margin-left: 30px;
    display: inline;
}

.item{
    font-size: 15px;
    line-height: 1.8em;
}

.item:before{
    content: "🍌";
}

.itens{
    font-size: 18px;
    line-height: 2em;
}

.itens:before{
    content: "🍌";
}

.foto{
    width: 400px;
    display: inline;
    display: flex;
    padding: 110px 0 0 70px;
}

.img-footer{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.copy{
    margin-top: 18px;
    margin-left: 5px;
}

footer{
    background: #6583b8;
    font-weight: bold;
    color: #FF9F00;
    display: flex;
    height: 60px;
    justify-content: center;
}